.logo-gird {
    margin-top: 50px;
}
.sub-title{
    height: 10px;

}

/* .overlay-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
/*  */
/* .overlay-title h4 {
    margin: 0;
    font-size: 16px;
}

.overlay-title h3 {
    margin: 5px 0 0;
    font-size: 24px;
}

.overlay-title h3 a {
    color: white;
    text-decoration: none;
}  */
/* .content-font p{
    font-style:	Times New Roman;
    font-size:4vw;
} */
.banner-three__img.p-img {
    position: relative;
    width: 100%;  /* Adjust width as needed */
    height: 600; /* Maintain aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
} 
.p-img{
    position: relative;
  
    width:600px; 
}

.pu-img {
    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
    z-index: 1;
    width: 900px;
    height: 600px;
    border-radius: 15px;
}
.png1 img{
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 123456;
    top: 102px;
    opacity: 0.5;
    right: 600px;   animation: float 5s ease-in-out infinite;
}
.png2 img {
    height: 150px;
    width: 160px;
    position: absolute;
    z-index: 123456;
    top: 10px;
    right: 180px;
    transform: scaleX(-1) scale(1.1) rotate(-45deg);
    opacity: 0.6; /* Make the image less opaque */
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.square {
    position: relative;
    margin: 0 10px;
    width: 500px;
    height: 500px;
    display: flex;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
}

/* .square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: #D4F161;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
} */

/* .linkedin:hover span:nth-child(1) {
    border: none;
    background: #D4F161;
} */
/* .square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: #D4F161;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.linkedin:hover span:nth-child(2) {
    border: none;
    background: #D4F161;
} */
/* .square span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
    transition: 0.1s;
    animation: animate2 10s linear infinite;
}

.linkedin:hover span:nth-child(3) {
    border: none;
    background: #D4F161;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(3deg);
    }
    10% {
        transform: rotate(0deg);
    }
} */
/* Make the hamburger icon white for all pages except the home page */
.not-home .mobile-nav-toggler.alt i {
    color: white;
}

/* Change the hamburger icon color to green when hovered */
.not-home .mobile-nav-toggler.alt i:hover {
    color: green;
}
